<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><%= "Track your order" %></h4>
    </div>
    <div class="modal-body">
      <p>
      <div class="alert alert-danger" style="display:none;" id="tracker-error-message"></div>
      <%= form_tag '#', :method => 'get', :class => 'track-shipment-form' do %>
        <div class="control-group">
          <%= text_field_tag 'trackingnumber', '', :placeholder => 'Enter Tracking Number', :class => 'input-xxlarge form-control', :id => 'tracker-tracking-number' %>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= submit_tag "Track" %>
          </div>
        </div>
      <% end %>
      </p>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
