<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><%= "Order History" %></h4>
    </div>
    <div class="modal-body">
      <p>
      <% if @history[:success] %>
        <table>
          <tr><td>Company:</td><td><strong><%= @history[:company] %></strong></td></tr>
          <tr><td>Status:</td><td><strong><%= @history[:status] %></strong></td></tr>
        </table>
        <table class="table table-striped table-bordered">
          <% @history[:events].each do |event| %>
            <tr>
              <% event.each do |info| %>
                <td>
                  <%= info %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% else %>
        The tracking number entered is not a valid FedEx or DHL tracking number
      <% end %>
      </p>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
